{% extends 'base.html.twig' %}

{% block body %}
    <h1>Snipes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for snipe in snipes %}
            <tr>
                <td><a href="{{ path('snipe_show', { 'id': snipe.id }) }}">{{ snipe.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('snipe_show', { 'id': snipe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('snipe_edit', { 'id': snipe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('snipe_new') }}">Create a new snipe</a>
        </li>
    </ul>
{% endblock %}
